body{
  background-color: lightgray;
  font-family:Arial;
}
header{
  background-color: darkred;
  color: white;
  padding: 10px;
}
nav{
  background-color: black;
  padding: 10px;
}
nav a{
  color: white;
  margin: 10px;
}
footer{
  background-color: darkred;
  color: white;
  text-align: center;
}